{% extends "base.html" %}
{% load urlify %}

<h1>{% block title %} {{title}} | {{block.super}}</h1>
{% endblock title %}

{% block content %}
		<div class='col-sm-6 col-sm-offset-3'>
			{% if obj_detail.image %}
			<img src="{{ obj_detail.image.url }}" class="img-responsive" />
			{% endif %}
			<h1> {{obj_detail.title}} <small> {% if obj_detail.draft %} <span style="color: red">Draft</span>{% endif %} {{obj_detail.publish}} </small> </h1> <br/>
			<p><div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>



			<!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"> Facebook </a>

			<a href="https://twitter.com/home?status={{obj_detail.content|truncatechars:80|urlify}}%20{{request.build_absolute_uri}}"> Twitter </a>

			<a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>Google</a>

			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{obj_detail.title}}&summary={{share_string}}&source={{request.build_absolute_uri}}"> Linkedin </a> -->

			{% if obj_detail.user.get_full_name %} <p>AUTHOR : {{obj_detail.user.get_full_name}}</p> {% endif %}

			<div class="content-markdown">{{obj_detail.content }}<br/></div>
                <p class="lead">Comments</p>
                <form method="POST" action="."> {% csrf_token %}
            {{ form }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
            <div>
                {% for comment in comments %}
                    <div class="">
                        {{ comment.content }}
                        <br/>
                        via {{ comment.user }} | {{ comment.timestamp | timesince }} ago
                        <hr />
                    </div>
                {% endfor %}
            </div>
{#			<div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>#}
{% endblock content %}